In [2]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## chnarge mix data

In [3]:
df=pd.read_excel('../../DATA/SMS3/'+'EAF heat details.xlsx')

In [4]:
 
df.drop(columns=['Cast', 'Ladle Number', 'Unnamed: 20', 'REMARKS', 'tap', 'Cast.1'],inplace=True)
 
df=df.dropna(subset='H NO.')
 
df=df.dropna(subset='HM')
 
df['16/09/2024']=pd.to_datetime(df['16/09/2024'],errors='coerce')
df=df.dropna(subset='16/09/2024')
df['16/09/2024']=df['16/09/2024'].apply(lambda x: x.replace(year=2024))
 
df.set_index('H NO.',inplace=True)
df=df.sort_index()

In [7]:
df.columns=['Date', 'NH', 'Shift', 'Bucket', 'HM', 'DRI', 'LIME', 'DOLO',
       'P.S', 'T C', 'CPC', 'POWER', 'OXY', 'POT', 'TTT', 'AT', 'T WT']

## Grade data

In [43]:
excels=pd.read_excel('../../Data/SMS3/Heat Number with Grade - FY2024-2025.xlsx',sheet_name=None)

In [44]:
grade=pd.concat(list(excels.values()))[['Date'	,'HEAT NO',	'GRADE']]

In [45]:
grade=grade.drop('Date',axis=1)

In [46]:
grade=grade.dropna()

In [47]:
grade.dtypes

HEAT NO    float64
GRADE       object
dtype: object

In [48]:
# grade.to_csv('../../Consolidated_Data/SMS3/SMS3_heat_and_grade.csv')

## merging both data

In [49]:
grade.set_index('HEAT NO',inplace=True,drop=True)

In [51]:
grade=grade[~grade.index.duplicated(keep='first')]

In [52]:
grade

                GRADE
HEAT NO
4415001.0     SUP-9AG
4415002.0     SUP-9AG
4415003.0      S275HS
4415004.0     SUP-9AG
4415005.0      S275HS
...               ...
4421276.0  JSPHTHS(V)
4421277.0  JSPHTHS(V)
4421278.0  JSPHTHS(V)
4421279.0  JSPHTHS(V)
4421280.0  JSPHTHS(V)

[6279 rows x 1 columns]

In [55]:
df=df.merge(grade,right_index=True,left_index=True)

In [59]:
df.isna().sum()

Date        0
NH         19
Shift       0
Bucket      1
HM          0
DRI        12
LIME       19
DOLO       18
P.S        21
T C         0
CPC        20
POWER      22
OXY        21
POT        50
TTT       139
AT         50
T WT      575
GRADE       0
dtype: int64

In [60]:
df.to_csv('../../Consolidated_Data/SMS3/SMS3_chrageMix_and_grade.csv')