In [15]:
import warnings
warnings.filterwarnings("ignore")

In [16]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [17]:
csv_files_location='../../../data/DATA/SMS3/IBA-extracted/'
csv_files=os.listdir(csv_files_location)

In [18]:
file1=csv_files_location+csv_files[0]
file2=csv_files_location+csv_files[1]

df1=pd.read_csv(file1)
df2=pd.read_csv(file2)

In [ ]:
data_tags = [
    "TOTAL SEC ACTIVE POWER",
    "TOTAL POWER CONSUMED",
    "WF_1_WEIGHT_ACTUAL",
    "WF_3_WEIGHT_ACTUAL",
    "WF_2_WEIGHT_ACTUAL",
    "TOTAL CARBON CONSUMED",
    "WF_4_WEIGHT_ACTUAL",
    "TOTAL OXYGEN CONSUMED",
    "TAPPING TEMPERATURE",
    "BAG HOUSE INLET DP",
    "BAG HOUSE OUTLET DP",
    "ID FAN 1 RPM",
    "ID FAN 2 RPM",
    "ID FAN 3 RPM",
    "FES INLET TEMPERATURE",
    "EBT LIFE",
    "SHELL LIFE",
    "DELTA LIFE"
]

In [27]:
df1.columns=df1.iloc[0].to_list()

In [48]:
columns=[]
for i in data_tags:
    try:
        df1[i]
        columns.append(i)
    except:
        print(i)

TOTAL CARBON CONSUMED
BAG HOUSE INLET DP
BAG HOUSE OUTLET DP
ID FAN 1 RPM
ID FAN 2 RPM
ID FAN 3 RPM
FES INLET TEMPERATURE
no outlet temp tag
EBT LIFE
SHELL LIFE
DELTA LIFE

In [37]:
for i in df1.columns:
    if 'FAN' in str(i):
        print(i)

In [49]:
columns

['TOTAL SEC ACTIVE POWER',
 'TOTAL POWER CONSUMED',
 'WF_1_WEIGHT_ACTUAL',
 'WF_3_WEIGHT_ACTUAL',
 'WF_2_WEIGHT_ACTUAL',
 'WF_4_WEIGHT_ACTUAL',
 'TOTAL OXYGEN CONSUMED',
 'TAPPING TEMPERATURE']

In [45]:
df2.columns=df2.iloc[0].to_list()

In [47]:
for i in data_tags:
    try:
        df2[i]
    except:
        print(i)

TOTAL CARBON CONSUMED
BAG HOUSE INLET DP
BAG HOUSE OUTLET DP
ID FAN 1 RPM
ID FAN 2 RPM
ID FAN 3 RPM
FES INLET TEMPERATURE
no outlet temp tag
EBT LIFE
SHELL LIFE
DELTA LIFE

In [53]:
df=df1[['time']+columns]

In [56]:
df=df[2:]

In [59]:
df.columns=['time', 'TOTAL SEC ACTIVE POWER', 'TOTAL POWER CONSUMED',
       'DRI', 'Lime', 'Dolo',
       'DRI_fines', 'TOTAL OXYGEN CONSUMED', 'TAPPING TEMPERATURE']

In [62]:
df2=df2[['time']+columns]

In [63]:
df2=df2[2:]

In [64]:
df2.columns=['time', 'TOTAL SEC ACTIVE POWER', 'TOTAL POWER CONSUMED',
       'DRI', 'Lime', 'Dolo',
       'DRI_fines', 'TOTAL OXYGEN CONSUMED', 'TAPPING TEMPERATURE']

In [70]:
df=pd.concat([df,df2])

In [73]:
df=df.set_index('time',drop=True)

In [76]:
df.index=pd.to_datetime(df.index,errors='coerce')

In [85]:
df.dropna()

,TOTAL SEC ACTIVE POWER,TOTAL POWER CONSUMED,DRI,Lime,Dolo,DRI_fines,TOTAL OXYGEN CONSUMED,TAPPING TEMPERATURE
time,,,,,,,,
2024-01-08 00:02:34.996,59.8182,11803.7,2.65378,0.2605,1.63022,0,1026.97,1597.13
2024-01-08 00:03:34.996,59.9597,12803.6,3.14735,0.3,1.9325,0,1133.56,1508.45
2024-01-08 00:04:34.996,60.0391,13802.6,3.96132,0.309567,2.21372,0,1240.35,1508.45
2024-01-08 00:05:34.996,60.056,14803.3,5.34776,0.4,2.48998,0,1346.96,1508.45
2024-01-08 00:06:34.996,55.7236,15767,6.67973,0.4,2.75665,0,1453.69,1508.45
...,...,...,...,...,...,...,...,...
NaT,43.579,2921.48,53.9997,0.8,6.3,0,65.2074,1700.0
NaT,59.8552,3788.81,53.9997,0.8,6.3,0,83.8007,1700.0
NaT,59.3657,4777.24,53.9997,0.8,6.3,0,102.479,1700.0
NaT,66.5846,5829.93,53.9997,0.8,6.3,0,121.178,1700.0
NaT,65.8915,6920.58,53.9997,0.8,6.3,0,139.718,1700.0

In [82]:
df['TOTAL SEC ACTIVE POWER'].plot()

TypeError: no numeric data to plot